<footer>
  <small>
    Thanks for checking this out.
    <br>
    Last Build: {{ build.date }} with {{ eleventy.generator }}
    <br>
    <a href="{{ '/admin/' | url }}">Login</a>
  </small>
</footer>
