<nav>
  <div class="nav-brand">
    <a href="/" class="brand">
      {% if settings.theme and settings.theme.logo %}
        <img src="{{ settings.theme.logo }}" alt="{{ settings.theme.logoAlt or settings.title }}" class="site-logo" />
      {% else %}
        <em>{{ settings.title }}</em>
      {% endif %}
    </a>
  </div>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul>
    {%- for entry in navPages %}
      <li>
        <a href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="active"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>
